{{>layout/header}}
<!-- space list start -->
{{>layout/spaceListFront}}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-5">
        <li class="page-item">
            <a class="page-link" href="/space/list/price/{{inputPriceIndex}}/1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#pageList}}
            {{#pageActive}}
                <li class="page-item active"><a class="page-link" href="/space/list/price/{{inputPriceIndex}}/{{pageNum}}">{{pageNum}}</a></li>
            {{/pageActive}}
            {{^pageActive}}
                <li class="page-item"><a class="page-link" href="/space/list/price/{{inputPriceIndex}}/{{pageNum}}">{{pageNum}}</a></li>
            {{/pageActive}}
        {{/pageList}}
        <li class="page-item">
            <a class="page-link" href="/space/list/price/{{inputPriceIndex}}/{{lastPageNum}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{{>layout/spaceListRear}}
<!-- space list end -->
{{>layout/footer}}